<html>
  <body>
    <section class="dashboard">
      
      <row>
        <div class="content">
          <h2 class="text"><%= "Hello #{current_user.username}" %></h2>
          <h4><%= @hello_message %></h4>
        </div>
      </row>

      <row>
        <div class="buttons">
            <%= link_to "New Post", new_post_path, class: 'button btn-primary btn-lg text-center' %>
            <%= link_to "Logout", "/sessions", class: 'button btn-info btn-lg text-center', method: :delete %>
        </div>
      </row>

      <row>
        <div class="posts">
          <% @posts.each do |post| %>
            <div class="post-container">
              <%= image_tag post.image.url, class: 'img-responsive' %>
              <div class="post-caption">
                <%= post.caption %>
              </div>
            </div>
          <% end %>
        </div>
      </row>

    </section>
  </body>
</html>
