<!DOCTYPE html>
<html>
  <head>
    <title>HIPSTERGRAM</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <section class="landing">
      <div class="main-content">
        <div class="main-title">
          <h1>HIPSTERGRAM</h1>
          <h3> It's time to take your creatives to the next level.</h3>
        </div>
        <div class="buttons">
          <%= link_to "Sign Up", "#", class: 'button btn-primary btn-lg text-center' %>
          <%= link_to "Log In", "#", class: 'button btn-info btn-lg text-center' %>
        </div>
      </div>
    </section>





  </body>
</html>
